@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-important {
    display: flex !important;
  }
  .about-top {
    top: 625px;
  }
  .about-padding-top {
    padding-top: 356px;
  }
  .about-top-xl {
    top: 570px;
  }
  .avatar-info-width {
    width: 704px;
  }
}

@layer components {
  .my-grid-xl {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
